{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {% endif %}

  <div class="cover-card table-cell table-top">
  <a href="{{ site.url }}/" class="author_name" >{{ author.name }}</a>
  <span class="author_job">{{ author.job }}</span>
  <span class="author_bio mbm">{{ author.bio }}</span>
  <nav class="nav">
    <ul class="nav-list">
      
      <li class="nav-item">
        <a href= "{{ site.url }}" target="_blank">Home</a>
      </li>
      <li class="nav-item">
        <a href= "{{ site.url }}/about-me" target="_blank">About me</a>
      </li>
      <li class="nav-item">
        <a href= "{{ site.url }}/publications"  target="_blank">Publications</a>
      </li>
      <li class="nav-item">
        <a href="https://www.researchgate.net/profile/Mahesh_Chandra_Mukkamala/research"   target="_blank">ResearchGate</a>
      </li>
      <li class="nav-item">
        <a href="https://scholar.google.de/citations?user=aLrBW2QAAAAJ" target="_blank">Google Scholar</a>
      </li>
      <li class="nav-item">
        <a href="https://www.linkedin.com/in/maheshchandra" target="_blank">LinkedIn</a>
      </li>
      <li class="nav-item">
        <a href="https://www.youtube.com/channel/UCKo_GVkbbaHT55EwEluwNug" target="_blank">YouTube</a>
      </li>
      </ul>
  </nav>
  <!-- {% include social-links.html %} -->
  </div>
<!-- 
  <a  href= "{{ site.url }}" target="_blank">
  Home
  </a>
  <a href= "{{ site.url }}/about-me" target="_blank">
  About me
  </a>

  <a  href= "{{ site.url }}/publications" target="_blank">
    Publications
  </a> 

  <a  href="https://www.researchgate.net/profile/Mahesh_Chandra_Mukkamala/research"  target="_blank">
    ResearchGate
  </a>
 -->
<!--   <br>
   <a target="_blank"  class="author_temp" href= "https://scholar.google.de/citations?user=aLrBW2QAAAAJ" >
    Google Scholar
  </a>
  <br>
   <a target="_blank"  class="author_temp" href= "https://www.linkedin.com/in/maheshchandra" >
    LinkedIn
  </a>
  <br>
   <a target="_blank"  class="author_temp" href= "https://www.youtube.com/channel/UCKo_GVkbbaHT55EwEluwNug" >
    Youtube
  </a>
  <br> -->
  
  <!-- <nav class="nav">
    <ul class="nav-list">
      {% for page in site.pages %} {% if page.title %}
      <li class="nav-item">
        <a href="{{ site.url }}{{ page.url }}" target="_blank">{{ page.title }}</a>
      </li>
      {% endif %} {% endfor %}
      <li class="nav-item">
        <a href="https://github.com/mmahesh" target="_blank">code</a>
      </li>
    </ul>
  </nav> -->

  
  <!-- Begin Mailchimp Signup Form -->
<!-- <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#f5f5f5; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
  /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<style type="text/css">
  #mc-embedded-subscribe-form input[type=checkbox]{display: inline; width: auto;margin-right: 10px;}
  #mergeRow-gdpr {margin-top: 20px;}
  #mergeRow-gdpr fieldset label {font-weight: normal;}
  #mc-embedded-subscribe-form .mc_fieldset{border:none;min-height: 0px;padding-bottom:0px;}
</style> -->
<!-- <div id="mc_embed_signup">
<form action="https://github.us19.list-manage.com/subscribe/post?u=362d41c220f97212f28a7c611&amp;id=526d9023e4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  <label for="mce-EMAIL">Subscribe to our mailing list</label>
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_362d41c220f97212f28a7c611_526d9023e4" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div> -->

<!--End mc_embed_signup-->


