{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {% endif %}

<div class="cover-card table-cell table-top">
  <a href="{{ site.url }}/" class="author_name" >{{ author.name }}</a>
  <span class="author_job">{{ author.job }}</span>
  <span class="author_bio mbm">{{ author.bio }}</span>
  <a class="author_temp" href= "{{ site.url }}" >
  Home
  </a>
  <br>
  <a class="author_temp" href= "{{ site.url }}/about_me" >
  About me
  </a>
  <br>
  <a class="author_temp" href= "{{ site.url }}/publications" >
    Publications
  </a>
  <br>
   <a target=”_blank”  class="author_temp" href= "https://scholar.google.de/citations?user=aLrBW2QAAAAJ" >
    Google Scholar
  </a>
  <br>
   <a target=”_blank”  class="author_temp" href= "www.linkedin.com/in/maheshchandra" >
    LinkedIn
  </a>
  <br>
   <a target=”_blank”  class="author_temp" href= "https://www.youtube.com/channel/UCKo_GVkbbaHT55EwEluwNug" >
    Youtube
  </a>
  <br>

  <nav class="nav">
    <ul class="nav-list">
      {% for page in site.pages %} {% if page.title %}
      <li class="nav-item">
        <a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a>
      </li>
      {% endif %} {% endfor %}
      <li class="nav-item">
        <a href="https://github.com/mmahesh" target="_blank">code</a>
      </li>
    </ul>
  </nav>

  {% include social-links.html %}
  <br>

</div>
