---
layout: default
---
<a class="btn" href= "{{ site.url }}/" >
  Home
</a>

  <div id="page">
    <header class="page-header">
      <h2>About me</h2>
    </header>

    <article class="page-content">
      I am Mahesh Chandra Mukkamala, currently a Master's student in Computer Science, Saarland University and IMPRS-CS student in Max Planck Institute for Informatics. I will be a Phd student soon in <a  style="color:#2200CC;" target="_blank" href="http://www.ml.uni-saarland.de/">Machine learning Group, Saarland University</a> . I have completed my Bachelors in Electrical Engineering from  <a  style="color:#2200CC;" target="_blank" href="http://iitj.ac.in/">Indian Institute of Technology</a> in Jodhpur.
      <br><br>
      <h3>Research Interests</h3>
      Machine learning, Deep learning, Optimization (mostly Convex Optimization), Online learning and at times i dwell into pure Mathematics particularly Functional Analysis and Statistics.
      <br><br>
      You can check my full profile at  <a  style="color:#2200CC;" target="_blank" href="https://www.linkedin.com/in/maheshchandra/">LinkedIn</a>
      <br><br>
      You can contact me at the address """mmahesh(dot)chandra873(at)gmail(dot)com""" Just remove the apostrophes and you know what to do! or just see the end of first page <a href='http://www.ml.uni-saarland.de/Publications/MukHei-VariantsRMSPropAdagradLogRegret.pdf' target='_blank' ><b>here</b></a>

    </article>


  </div><!-- end page content -->

