---
layout: default
---
<a class="btn" href= "{{ site.url }}/" >
  Home
</a>

  <div id="page">
    <header class="page-header">
      <h2>About me</h2>
    </header>

    <article class="page-content">
      I am Mahesh Chandra Mukkamala, currently a Master's student in Computer Science, Saarland University and IMPRS-CS student in Max Planck Institute for Informatics. I will be a Phd student soon in Machine learning Group, Saarland University. I have completed my Bachelors in Electrical Engineering from Indian Institute of Technology in Jodhpur.
      <br><br>
      <h3>Research Interests</h3>
      Machine learning, Deep learning, Optimization (mostly Convex Optimization), Online learning and at times i dwell into pure Mathematics particularly Functional Analysis and Statistics.
      <br><br>
      You can check my full profile at  <a  style="color:#2200CC;" target="_blank" href="https://www.linkedin.com/in/maheshchandra/">LinkedIn</a>
    </article>


  </div><!-- end page content -->

