---
layout: default
---

  <div id="page">
    <header class="page-header">
      <h2>About me</h2>
    </header>

    <article class="page-content">
      <font size=3>
        Mahesh Chandra Mukkamala received his Bachelors in Electrical Engineering from IIT Jodhpur in 2014. He joined M.Sc Informatics in Saarland University in 2015, and was an IMPRS-CS Master's student at MPI Informatics during his masters. He worked under Machine Learning group (Saarland University) from 2015 till 2018 on various topics related to deep learning, convex optimization and stochastic optimization. He is currently pursuing his Phd from Saarland University under Mathematical Optimization group, where his main focus lies in convex and non-convex optimization.
</font>
<br>
<br>


<a href="https://scholar.google.de/citations?user=aLrBW2QAAAAJ" target="_blank"><b>Google Scholar </b></a>/
<a href="https://www.researchgate.net/profile/Mahesh_Chandra_Mukkamala/research" target="_blank"><b> ResearchGate </b></a>/<a href="http://www.mop.uni-saarland.de/people/mukkamala/index.shtml" target="_blank"><b> MOP Group</b></a>

    </article>


  </div><!-- end page content -->

