---
layout: default
---

  <div id="page">
    <header class="page-header">
      <h2>Publications</h2>
    </header>

    <article class="page-content">
      <font size=3>
    <ul>
      <li> <a href="http://www.ml.uni-saarland.de/Publications/MukHei-VariantsRMSPropAdagradLogRegret.pdf" target="_blank"><b>Variants of RMSProp and Adagrad with Logarithmic Regret Bounds</b></a>  <a target="_blank" href="https://github.com/mmahesh/variants_of_rmsprop_and_adagrad">[Code]</a> <a target="_blank" href="/main.pdf">[Poster]</a><a target="_blank" href="/icml_slides.pdf">[ICML slides]</a> joint work with <a  target="_blank" href="http://www.ml.uni-saarland.de/people/hein.htm">Prof. Dr. Matthias Hein</a> is accepted at ICML 2017. 
      <br><br>
      Also see long version containing all proofs <a href="http://www.ml.uni-saarland.de/Publications/MukHei-VariantsRMSPropAdagradLogRegretLongVersion.pdf" target="_blank"> here</a> 
    </li>
      <br>
      <li> <a href="https://arxiv.org/pdf/1803.00094.pdf" target="_blank"><b>Neural Networks Should Be Wide Enough to Learn Disconnected Decision Regions</b></a>  joint work with <a href="https://scholar.google.de/citations?user=WJNkMakAAAAJ&hl=en"  target="_blank">Quynh Nguyen</a> and <a  target="_blank" href="http://www.ml.uni-saarland.de/people/hein.htm">Prof. Dr. Matthias Hein</a> is accepted at ICML 2018. 
        </li> 
        <br>
      <li> <a href="https://arxiv.org/pdf/1809.10749.pdf" target="_blank"><b>On the Loss Landscape of a class of Deep neural networks with no bad local valleys</b></a>  joint work with <a href="https://scholar.google.de/citations?user=WJNkMakAAAAJ&hl=en"  target="_blank">Quynh Nguyen</a> and <a  target="_blank" href="http://www.ml.uni-saarland.de/people/hein.htm">Prof. Dr. Matthias Hein</a>. 
        </li> 
    </ul>
  </font>
    </article>


  </div><!-- end page content -->

