---
layout: default
---

  <div id="page">
    <header class="page-header">
      <h2>Publications</h2>
    </header>
    <article class="page-content">
      <font size=3>
    <h3><font color=green>Inertial Bregman Proximal Gradient Algorithms in Non-Convex Optimization</font></h3>
    <ul>
      <li><b><font color=red>[NEW]</font></b> <a href="/show_pub5/" target="_blank"><b>Beyond Alternating Updates for Matrix Factorization with Inertial Bregman Proximal Gradient Algorithms</b></a><a target="_blank" href="https://github.com/mmahesh/cocain-bpg-matrix-factorization" > <font color=green>[Code]</font></a> joint work with Peter Ochs.</li>
      <br>
      <li><b><font color=red>[NEW]</font></b> <a href="/show_pub4/" target="_blank"><b>Convex-Concave Backtracking for Inertial Bregman Proximal Gradient Algorithms in Non-Convex Optimization</b></a> joint work with Peter Ochs, Thomas Pock and Shoham Sabach.</li>
    </ul>
    <h3><font color=green> Deep Learning Theory</font></h3>
    <ul>
      <li> <a href="/show_pub3/" target="_blank"><b>On the Loss Landscape of a class of Deep neural networks with no bad local valleys</b></a>  joint work with Quynh Nguyen and Matthias Hein is accepted at International Conference on Learning Representations (ICLR) 2019. 
        </li> 
                <br>
      <li> <a href="/show_pub2/" target="_blank"><b>Neural Networks Should Be Wide Enough to Learn Disconnected Decision Regions</b></a>  joint work with Quynh Nguyen and Matthias Hein is accepted at International Conference on Machine Learning (ICML) 2018. 
        </li> 
      
    </ul>
    <h3><font color=green>Stochastic/Online Optimization for Deep Learning</font></h3>
    <ul>
      <li> <a href="/show_pub1/" target="_blank"><b>Variants of RMSProp and Adagrad with Logarithmic Regret Bounds</b></a>  <a target="_blank" href="https://github.com/mmahesh/variants_of_rmsprop_and_adagrad"><font color=green>[Code]</font></a> <a target="_blank" href="/main.pdf">[Poster]</a><a target="_blank" href="/icml_slides.pdf">[ICML slides]</a> joint work with Matthias Hein is accepted at International Conference on Machine Learning (ICML) 2017. 
      <br><br>
      Also see long version containing all proofs <a href="http://www.ml.uni-saarland.de/Publications/MukHei-VariantsRMSPropAdagradLogRegretLongVersion.pdf" target="_blank"> here</a> 
    </li>
    </ul>

  </font>
    </article>


  </div><!-- end page content -->

