---
layout: default
---

<div id="page">
  <h2>
    <font color="#191970">Publications </font>
  </h2>
  <article class="page-content">
    
    <font size=3>
    <h3>
        <font color="#7a7a7a">Model Function Based Analysis</font>
      </h3>
      <ul>
        <li> <b>
          <font color=red>NEW</font>
        </b><a
            href="https://arxiv.org/pdf/2012.13161.pdf"
            target="_blank"><b>Global Convergence of Model Function Based Bregman Proximal Minimization Algorithms</b></a> joint work with
          Jalal Fadili Peter Ochs is online at arXiv.
          <br>
          <ul class="nav-list">
            <li class="nav-item">
              <a target="_blank" href="https://arxiv.org/pdf/2012.13161.pdf"> arXiv </a>
            </li>
          </ul>
        </li>
      </ul>
      <h3>
        <font color="#7a7a7a">Deep Linear Neural Networks or Deep Matrix Factorization</font>
      </h3>
      <ul>
      <li> <a
          href="https://www.researchgate.net/publication/336372122_Bregman_Proximal_Framework_for_Deep_Linear_Neural_Networks"
          target="_blank"><b>Bregman Proximal Framework for Deep Linear Neural Networks</b></a> 
          joint work with Felix Westerkamp, Emanuel Laude, Daniel Cremers, Peter Ochs is online at arXiv. </li>
      <ul class="nav-list">
        <li class="nav-item">
          <a target="_blank" href="https://arxiv.org/abs/1910.03638"> arXiv </a>
        </li>
        <li class="nav-item">
          <a target="_blank"
            href="/publications_pdfs/Bregman-proximal-framework-for-deep-linear-neural-networks.pdf">
            Download PDF </a>
        </li>
        <li class="nav-item">
          <a target="_blank"
            href="https://www.researchgate.net/publication/336372122_Bregman_Proximal_Framework_for_Deep_Linear_Neural_Networks">
            ResearchGate </a>
        </li>
        </li>
      </ul>
      </ul>
      <h3>
        <font color="#7a7a7a">Inertial Bregman Proximal Gradient Algorithms in Non-Convex Optimization</font>
      </h3>
      <ul>
        <li> <a
            href="https://www.researchgate.net/publication/333309226_Beyond_Alternating_Updates_for_Matrix_Factorization_with_Inertial_Bregman_Proximal_Gradient_Algorithms"
            target="_blank"><b>Beyond Alternating Updates for Matrix Factorization with Inertial Bregman Proximal
              Gradient Algorithms</b></a> joint work with Peter Ochs is accepted at NeurIPS 2019. </li>
        <ul class="nav-list">
          <li class="nav-item">
            <a target="_blank" href="https://arxiv.org/abs/1905.09050"> arXiv </a>
          </li>
          <li class="nav-item">
            <a target="_blank"
              href="/publications_pdfs/Beyond-Alternating-Updates-for-Matrix-Factorization-with Inertial-Bregman-Proximal-Gradient-Algorithms.pdf">
              Download PDF </a>
          </li>
          <li class="nav-item">
            <a target="_blank" href="http://www.optimization-online.org/DB_HTML/2019/05/7224.html"> Optimization Online
            </a>
          </li>
          <li class="nav-item">
            <a target="_blank" href="https://github.com/mmahesh/cocain-bpg-matrix-factorization"> Code </a>
          </li>
          <li class="nav-item">
            <a target="_blank"
              href="/articles/2019-05/New-Fast-Non-Alternating-Inertial-Algorithms-for-Matrix-Factorization"> Blog Post
            </a>
          </li>
          <li class="nav-item">
            <a target="_blank"
              href="https://www.researchgate.net/publication/333309226_Beyond_Alternating_Updates_for_Matrix_Factorization_with_Inertial_Bregman_Proximal_Gradient_Algorithms">
              ResearchGate </a>
          </li>
          </li>
        </ul>
        <br>
        <li> <b>
          <font color=red>NEW</font>
        </b> <a
            href="https://www.researchgate.net/publication/332300750_Convex-Concave_Backtracking_for_Inertial_Bregman_Proximal_Gradient_Algorithms_in_Non-Convex_Optimization"
            target="_blank"><b>Convex-Concave Backtracking for Inertial Bregman Proximal Gradient Algorithms in
              Non-Convex Optimization</b></a> joint work with Peter Ochs, Thomas Pock and Shoham Sabach is accepted to SIAM Journal on Mathematics of Data Science (SIMODS).</li>
        <ul class="nav-list">
          <li class="nav-item">
            <a target="_blank" href="https://arxiv.org/abs/1904.03537"> arXiv </a>
          </li>
          <li class="nav-item">
            <a target="_blank"
              href="/publications_pdfs/Convex-Concave-Backtracking-for-Inertial-Bregman-Proximal-Gradient-Algorithms-in-Non-Convex-Optimization.pdf">
              Download PDF </a>
          </li>
          <li class="nav-item">
            <a target="_blank"
              href="https://epubs.siam.org/doi/abs/10.1137/19M1298007">SIMODS version</a>
          </li>
          <li class="nav-item">
            <a target="_blank" href="http://www.optimization-online.org/DB_HTML/2019/04/7159.html"> Optimization Online
            </a>
          </li>
          <li class="nav-item">
            <a target="_blank"
              href="/articles/2019-04/Convex-Concave-Backtracking-for-Inertial-Bregman-Proximal-Gradient-Algorithms-in-Non-Convex-Optimization">
              Blog Post </a>
          </li>
          <li class="nav-item">
            <a target="_blank"
              href="https://www.researchgate.net/publication/332300750_Convex-Concave_Backtracking_for_Inertial_Bregman_Proximal_Gradient_Algorithms_in_Non-Convex_Optimization">
              ResearchGate </a>
          </li>
        </ul>
      </ul>
      <h3>
        <font color="#7a7a7a"> Deep Learning Theory</font>
      </h3>
      <ul>
        <li> <a
            href="https://www.researchgate.net/publication/327945221_On_the_Loss_Landscape_of_a_Class_of_Deep_Neural_Networks_with_No_Bad_Local_Valleys"
            target="_blank"><b>On the Loss Landscape of a class of Deep neural networks with no bad local
              valleys</b></a> joint work with Quynh Nguyen and Matthias Hein is accepted at International Conference on
          Learning Representations (ICLR) 2019.
        </li>
        <ul class="nav-list">
          <li class="nav-item">
            <a target="_blank" href="https://arxiv.org/abs/1809.10749"> arxiv </a>
          </li>
          <li class="nav-item">
            <a target="_blank"
              href="/publications_pdfs/On_the_Loss_Landscape_of_a_class_of_Deep_neural_networks_with_no_bad_local_valleys_Quynh_Nguyen_Mahesh_Chandra_Mukkamala_Matthias_Hein.pdf">
              Download PDF </a>
          </li>
          <li class="nav-item">
            <a target="_blank"
              href="https://www.researchgate.net/publication/327945221_On_the_Loss_Landscape_of_a_Class_of_Deep_Neural_Networks_with_No_Bad_Local_Valleys">
              ResearchGate </a>
          </li>
        </ul>
        <br>
        <li> <a
            href="https://www.researchgate.net/publication/323509979_Neural_Networks_Should_Be_Wide_Enough_to_Learn_Disconnected_Decision_Regions"
            target="_blank"><b>Neural Networks Should Be Wide Enough to Learn Disconnected Decision Regions</b></a>
          joint work with Quynh Nguyen and Matthias Hein is accepted at International Conference on Machine Learning
          (ICML) 2018.
          <ul class="nav-list">
        </li>
        <li class="nav-item">
          <a target="_blank" href="https://arxiv.org/abs/1803.00094"> arxiv </a>
        </li>
        <li class="nav-item">
          <a target="_blank"
            href="/publications_pdfs/Neural_Networks_Should_Be_Wide_Enough_to_Learn_Disconnected_Decision_Regions_Quynh_Nguyen_Mahesh_Chandra_Mukkamala_Matthias_Hein.pdf">
            Download PDF </a>
        </li>
        <li class="nav-item">
          <a target="_blank"
            href="https://www.researchgate.net/publication/323509979_Neural_Networks_Should_Be_Wide_Enough_to_Learn_Disconnected_Decision_Regions">
            ResearchGate </a>
        </li>
      </ul>
      </ul>
      <h3>
        <font color="#7a7a7a">Stochastic/Online Optimization for Deep Learning</font>
      </h3>
      <ul>
        <li> <a
            href="https://www.researchgate.net/publication/317679430_Variants_of_RMSProp_and_Adagrad_with_Logarithmic_Regret_Bounds"
            target="_blank"><b>Variants of RMSProp and Adagrad with Logarithmic Regret Bounds</b></a> joint work with
          Matthias Hein is accepted at International Conference on Machine Learning (ICML) 2017.
          <br>
          <ul class="nav-list">
            <li class="nav-item">
              <a target="_blank" href="https://github.com/mmahesh/variants_of_rmsprop_and_adagrad"> Code </a>
            </li>
            <li class="nav-item">
              <a target="_blank" href="/main.pdf"> Poster </a>
            </li>
            <li class="nav-item">
              <a target="_blank" href="/icml_slides.pdf"> ICML slides</a>
            </li>
            <li class="nav-item"><a target="_blank" href="https://arxiv.org/abs/1706.05507"> arxiv </a>
            </li>
            <li class="nav-item">
              <a target="_blank"
                href="/publications_pdfs/Variants_of_RMSProp_and_Adagrad_with_Logarithmic_Regret_Bounds_Mahesh_Chandra_Mukkamala_Matthias_Hein_ICML17.pdf">
                Download PDF </a>
            </li>
            <li class="nav-item">
              <a target="_blank"
                href="/articles/2017-06/variants-of-rmsprop-and-adagrad-with-logarithmic-regret-bounds"> Blog Post </a>
            </li>
            <li class="nav-item">
              <a target="_blank"
                href="/articles/2017-07/tutorial-on-sc-adagrad-a-new-stochastic-gradient-method-for-deep-learning">
                Tutorial </a>
            </li>
            <li class="nav-item">
              <a target="_blank"
                href="https://www.researchgate.net/publication/317679430_Variants_of_RMSProp_and_Adagrad_with_Logarithmic_Regret_Bounds">
                ResearchGate </a>
            </li>
          </ul>
          <br>
          Also see long version containing all proofs <a
            href="http://www.ml.uni-saarland.de/Publications/MukHei-VariantsRMSPropAdagradLogRegretLongVersion.pdf"
            target="_blank"> here</a>
        </li>
      </ul>

    </font>
  </article>


</div><!-- end page content -->