<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <div class="row">
    <div class="col s12 m1">
      <div >
      </div>
    </div>
    <div class="col s12 m3">
      <div class="table cover">
        {% include sidebar.html %}
      </div>
    </div>
    <div class="col s12 m7">
      <div class="post-listing">
      <embed src="https://mmahesh.github.io/main.pdf" style="width:1000px; height:900px;" frameborder="0">
      </div>
    </div>
  </div>
  {% include js.html %}
</body>
</html>
