<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <div class="row">
    <div class="col s12 m1">
      <div >
      </div>
    </div>
    <div class="col s12 m3">
      <div class="table cover">
        {% include sidebar.html %}
      </div>
    </div>
    <div class="col s12 m7">
      <div class="post-listing">
        <div>
          <b>
            <a target="_blank" href="https://arxiv.org/abs/1803.00094"> [arxiv] </a>
            <a target="_blank" href="/publications_pdfs/Neural_Networks_Should_Be_Wide_Enough_to_Learn_Disconnected_Decision_Regions_Quynh_Nguyen_Mahesh_Chandra_Mukkamala_Matthias_Hein.pdf"> [Download PDF] </a>
          </b>
        </div>
      <embed src="/publications_pdfs/Neural_Networks_Should_Be_Wide_Enough_to_Learn_Disconnected_Decision_Regions_Quynh_Nguyen_Mahesh_Chandra_Mukkamala_Matthias_Hein.pdf" style="width:800px; height:800px;">
      </div>
    </div>
  </div>
  {% include js.html %}
</body>
</html>
